[Unit]
Description=matrix-synchrotron-balancer
After=network.target
Requires=nginx.service
Requires=matrix-synapse.target

[Service]
Type=simple
User=synchrotron
WorkingDirectory=/opt/matrix-synchrotron-balancer
ExecStart=/opt/matrix-synchrotron-balancer/matrix-synchrotron-balancer
Restart=always

[Install]
WantedBy=multi-user.target
