[Unit]
Description=Synapse parent target
After=network.target
Requires=postgresql@13-main.service
Requires=redis-server.service

[Install]
WantedBy=multi-user.target
